In [19]:
import pandas as pd
import numpy as np

In [6]:
geyser_data = pd.read_csv("old_faithful_geyser.csv")

In [7]:
geyser_data.head()

   eruptions  waiting
0      3.600       79
1      1.800       54
2      3.333       74
3      2.283       62
4      4.533       85

In [8]:
eruptions = geyser_data['eruptions']

In [9]:
eruptions

0      3.600
1      1.800
2      3.333
3      2.283
4      4.533
       ...
267    4.117
268    2.150
269    4.417
270    1.817
271    4.467
Name: eruptions, Length: 272, dtype: float64

In [13]:
weather_humidity_data = pd.read_csv('weather/humidity.csv')
weather_humidity_data.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
2,2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
3,2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
4,2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0

In [14]:
city_data = weather_humidity_data[['datetime','Vancouver','Portland','San Francisco']]

In [15]:
city_data

                  datetime  Vancouver  Portland  San Francisco
0      2012-10-01 12:00:00        NaN       NaN            NaN
1      2012-10-01 13:00:00       76.0      81.0           88.0
2      2012-10-01 14:00:00       76.0      80.0           87.0
3      2012-10-01 15:00:00       76.0      80.0           86.0
4      2012-10-01 16:00:00       77.0      80.0           85.0
...                    ...        ...       ...            ...
45248  2017-11-29 20:00:00        NaN      81.0            NaN
45249  2017-11-29 21:00:00        NaN      71.0            NaN
45250  2017-11-29 22:00:00        NaN      71.0            NaN
45251  2017-11-29 23:00:00        NaN      71.0            NaN
45252  2017-11-30 00:00:00        NaN      76.0            NaN

[45253 rows x 4 columns]

In [22]:
city_data = city_data.dropna()

In [23]:
vancouver = np.array(city_data['Vancouver'].tolist())

In [24]:
vancouver

array([76., 76., 76., ..., 82., 87., 87.])

In [26]:
vancouver_humidity_mean = np.mean(vancouver)
vancouver_humidity_std = np.std(vancouver)

In [27]:
vancouver_portland = np.array(city_data[['Vancouver', 'Portland']])

In [28]:
vancouver_portland_correlation_coefficient = np.corrcoef(vancouver_portland)

MemoryError: Unable to allocate 13.7 GiB for an array with shape (42951, 42951) and data type float64