In [1]:
import numpy as np

1.7

In [88]:

num_of_terms = 1000
pi_sum = 1

for i in range(num_of_terms):
    if i == 0:
        continue
    elif i % 2 == 1:
        pi_sum -= 1/((2*i)+1)
    elif i % 2 == 0:
        pi_sum += 1/((2*i)+1)

pi = 4 * pi_sum

print(pi)

3.140592653839794

1.11

In [91]:
current_population = 312_032_486
seconds_in_a_year = 365*24*60*60
print(seconds_in_a_year)
for i in range(seconds_in_a_year*5):
    if (i+1) % 7 == 0:
        current_population += 1
    elif (i+1) % 13 == 0:
        current_population -= 1
    elif (i+1) % 45 == 0:
        current_population += 1
print(current_population)

31536000
326934113

In [94]:
current_population = 312_032_486

seconds_in_five_years = seconds_in_a_year * 5
births = seconds_in_five_years // 7
deaths = seconds_in_five_years // 13
new_immigrants = seconds_in_five_years // 45

projected_population = current_population + births - deaths + new_immigrants

print(projected_population)

325932970

2.19

In [99]:
investment_amount = 1000
annual_interest_rate = 4.25
num_of_years = 1
num_of_months = num_of_years * 12
monthly_interest_rate = annual_interest_rate / 1200

future_investment_value = investment_amount*(1 + monthly_interest_rate)**num_of_months

print(f"{future_investment_value:.2f}")

1043.34

3.5

In [8]:
from math import tan, pi

In [11]:
number_of_sides, length_of_side = int(input("Enter the number of sides: ")), float(input("Enter the side: "))
area = (number_of_sides * length_of_side**2) / (4 * tan(pi/number_of_sides) )
print(area)

Enter the number of sides: 5
Enter the side: 6.5
72.69017017488385

4.25

4.31

Kramer's Solving Systems of Equations from Coordinates

In [2]:
x = [2,5]
y = [2,-1]
v1 = np.polyfit(x,y,1)

array([-1.,  4.])

In [3]:
w = [4,-1]
z = [2,-2]
np.polyfit(w,z,1)

array([ 0.8, -1.2])

In [4]:
x1,y1,x2,y2,x3,y3,x4,y4 = 2,2,5,-1,4,2,-1,-2

In [ ]:
x0, y0, x1, y1, x2, y2 = eval(input('Enter coordinates for the three points p0, p1, and p2:'))

equation = (x1-x0)*(y2-y0)-(x2-x0)*(y1-y0) 

if equation > 0:
    print("P2 is on the left side")
elif equation == 0:
    print("p2 is on the same line") 
else: 
    print("p2 is on the right side")

In [5]:
x1,x2,x3,x4=2,5,4,-1
y1,y2,y3,y4=2,-1,2,-2

first = (y2-y1)*x1 - (x2-x1)*y1
second = ((y4-y3)*x3) - ((x4-x3)*y3)

In [ ]:
A = np.array([(),()],)

5.24

In [60]:
loan_amount = 18_000
num_of_years = 3
annual_interest_rate = 0.001
monthly_interest_rate = annual_interest_rate / 1200

monthly_payment = (loan_amount * monthly_interest_rate) / \
        ( 1 -  1  /  (1 + monthly_interest_rate)**(num_of_years * 12)   )
total_payment = monthly_payment * num_of_years * 12

print(f"${monthly_payment:.2f}")
print(f"${total_payment:.2f}")

$500.01
$18000.28

In [61]:
print(monthly_interest_rate)

8.333333333333333e-07

In [62]:
balance = loan_amount
num_of_payments = num_of_years * 12
for i in range(1, num_of_payments+1):
        interest = monthly_interest_rate * balance
        principal = monthly_payment - interest
        balance = balance - principal
        print(f"{i} \t {interest:.2f} \t {principal:.2f}   {balance:.2f}")

1 	 0.01 	 499.99   17500.01
2 	 0.01 	 499.99   17000.01
3 	 0.01 	 499.99   16500.02
4 	 0.01 	 499.99   16000.03
5 	 0.01 	 499.99   15500.03
6 	 0.01 	 499.99   15000.04
7 	 0.01 	 500.00   14500.04
8 	 0.01 	 500.00   14000.05
9 	 0.01 	 500.00   13500.05
10 	 0.01 	 500.00   13000.05
11 	 0.01 	 500.00   12500.06
12 	 0.01 	 500.00   12000.06
13 	 0.01 	 500.00   11500.06
14 	 0.01 	 500.00   11000.06
15 	 0.01 	 500.00   10500.07
16 	 0.01 	 500.00   10000.07
17 	 0.01 	 500.00   9500.07
18 	 0.01 	 500.00   9000.07
19 	 0.01 	 500.00   8500.07
20 	 0.01 	 500.00   8000.07
21 	 0.01 	 500.00   7500.07
22 	 0.01 	 500.00   7000.06
23 	 0.01 	 500.00   6500.06
24 	 0.01 	 500.00   6000.06
25 	 0.01 	 500.00   5500.06
26 	 0.00 	 500.00   5000.05
27 	 0.00 	 500.00   4500.05
28 	 0.00 	 500.00   4000.05
29 	 0.00 	 500.00   3500.04
30 	 0.00 	 500.00   3000.04
31 	 0.00 	 500.01   2500.03
32 	 0.00 	 500.01   2000.03
33 	 0.00 	 500.01   1500.02
34 	 0.00 	 500.01   1000.01
35 	 0.00 	 500.01   500.01
36 	 0.00 	 500.01   -0.00