# 6.21

In [31]:
def sqrt(n):
    last_guess = 1
    while True:
        next_guess = (last_guess + (n / last_guess)) / 2
        if abs(last_guess - next_guess) < 0.0001:
            break
        last_guess = next_guess
    return next_guess

sqrt(14)

3.7416573867739458

# 6.34

In [36]:
from math import pi, tan

In [37]:
def area(n, side):
    return (n * side**2) / (4 * tan(pi/n) )

In [38]:
area(5,6.5)

72.69017017488385

# 8.3

In [49]:
ord("A")

65

In [59]:
def only_char_or_int(password):
    for char in password:
        if not (48 <= ord(char) <= 57 or 65 <= ord(char) <= 90 or 97 <= ord(char) <= 122):
            return False
    return True

only_char_or_int("as]")

False

In [60]:
def at_least_two_digits(password):
    digits = 0
    for char in password:
        if 48 <= ord(char) <= 57:
            digits += 1
    if digits >= 2:
        return True
    else:
        return False
    
at_least_two_digits("4as3df2")

True

In [69]:
def valid_password(password):
    if len(password) >= 8 and only_char_or_int(password) and at_least_two_digits(password):
        return True
    else:
        return False

valid_password("asdf1234")

True

In [73]:
password = input("Enter your password: ")
if valid_password(password):
    print("Valid Password")
else:
    print("Invalid Password")

Enter your password: asdf[
Invalid Password

# 8.4

In [78]:
def count_char(string, char):
    occurrences = 0
    for s in string:
        if s == char:
            occurrences+=1
    return occurrences

count_char("Hello", 'H')

1

# 10.1

In [89]:
scores = list(map(int, input().split()))
best = max(scores)
for i, score in enumerate(scores):
    if score >= best - 10:
        grade = 'A'
    elif score >= best - 20:
        grade = 'B'
    elif score >= best - 30:
        grade = 'C'
    elif score >- best - 40:
        grade = 'D'
    else:
        grade = 'F'
    print(f"Student {i} score is {score} and grade is {grade}")

45 55 70 58
Student 0 score is 45 and grade is C
Student 1 score is 55 and grade is B
Student 2 score is 70 and grade is A
Student 3 score is 58 and grade is B

# 10.3

In [107]:
numbers = list(map(int, input("Enter integers between 1 and 100: ").split()))
tracker = dict()

for number in numbers:
    if number in tracker:
        tracker[number] += 1
    else:
        tracker[number] = 1

tracker = dict(sorted(tracker.items(), key=lambda item: item[0]))

for item in tracker:
    if tracker[item] > 1:
        print(f"{item} occurs {tracker[item]} times")
    else:
        print(f"{item} occurs {tracker[item]} time")

Enter integers between 1 and 100: 2 5 6 5 4 3 23 43 2
2 occurs 2 times
3 occurs 1 time
4 occurs 1 time
5 occurs 2 times
6 occurs 1 time
23 occurs 1 time
43 occurs 1 time

# 10.5

In [110]:
numbers = list(map(int, input("Enter some integers: ").split()))
distinct = list()
for number in numbers:
    if number in distinct:
        pass
    else:
        distinct.append(number)
distinct = list(sorted(distinct))
print(f"The distinct numbers are:", end=" ")
for num in distinct:
    print(f"{num}", end=" ")

Enter some integers: 1 2 3 2 1 6 3 4 5 2
The distinct numbers are: 1 2 3 4 5 6

# 10.9

In [115]:
from math import sqrt

In [123]:
def mean(x):
    return sum(x)/len(x)
    
def deviation(x):
    avg = mean(x)
    summation = 0
    for num in x:
        summation += (num - avg)**2
    return sqrt(summation / (len(x)-1))

In [126]:
numbers = list(map(float, input("Enter some numbers: ").split()))
print(f"The mean is {mean(numbers):.2f}")
print(f"The standard deviation is {deviation(numbers):.5f}")

Enter some numbers: 1.9 2.5 3.7 2 1 6 3 4 5 2
The mean is 3.11
The standard deviation is 1.55738

# 11.1

In [128]:
row0 = list(map(float, input("Enter a 3-by-4 matric row for 0: ").split()))
row1 = list(map(float, input("Enter a 3-by-4 matric row for 1: ").split()))
row2 = list(map(float, input("Enter a 3-by-4 matric row for 2: ").split()))

Enter a 3-by-4 matric row for 0: 1.5 2 3 4
Enter a 3-by-4 matric row for 1: 5.5 6 7 8
Enter a 3-by-4 matric row for 2: 9.5 1 3 1

In [129]:
matrix = [row0,row1,row2]
for i in range(4):
    column_sum = 0
    for j in range(3):
        column_sum += matrix[j][i]
    print(f"Sum of the elements for row {i} is {column_sum}")

Sum of the elements for row 0 is 16.5
Sum of the elements for row 1 is 9.0
Sum of the elements for row 2 is 13.0
Sum of the elements for row 3 is 13.0

# 11.2

In [130]:
row0 = list(map(float, input("Enter a 4-by-4 matric row for 1: ").split()))
row1 = list(map(float, input("Enter a 4-by-4 matric row for 2: ").split()))
row2 = list(map(float, input("Enter a 4-by-4 matric row for 3: ").split()))
row3 = list(map(float, input("Enter a 4-by-4 matric row for 4: ").split()))

m = [row0, row1, row2, row3]

Enter a 4-by-4 matric row for 1: 1 2 3 4
Enter a 4-by-4 matric row for 2: 5 6.5 7 8
Enter a 4-by-4 matric row for 3: 9 10 11 12
Enter a 4-by-4 matric row for 4: 13 14 15 16

In [131]:
m

[[1.0, 2.0, 3.0, 4.0],
 [5.0, 6.5, 7.0, 8.0],
 [9.0, 10.0, 11.0, 12.0],
 [13.0, 14.0, 15.0, 16.0]]

In [134]:
def sumMajorDiagonal(m):
    d_sum = 0
    for i in range(len(m)):
        for j in range(len(m)):
            if i == j:
                d_sum += m[i][j]
    return d_sum

In [136]:
print(f"Sum of the elements in the major diagonal is {sumMajorDiagonal(m)}")

Sum of the elements in the major diagonal is 34.5

# 11.4

In [137]:
weekly_hours = []
for i in range(8):
    weekly_hours.append(list(map(float, input("Enter daily hours: ").split())))

Enter daily hours: 2 4 3 4 5 8 8
Enter daily hours: 7 3 4 3 3 4 4
Enter daily hours: 3 3 4 3 3 2 2
Enter daily hours: 9 3 4 3 3 2 2
Enter daily hours: 3 5 4 3 6 3 8
Enter daily hours: 3 4 4 6 3 4 4
Enter daily hours: 3 7 4 8 3 8 4
Enter daily hours: 6 3 5 9 2 7 9

In [138]:
weekly_hours

[[2.0, 4.0, 3.0, 4.0, 5.0, 8.0, 8.0],
 [7.0, 3.0, 4.0, 3.0, 3.0, 4.0, 4.0],
 [3.0, 3.0, 4.0, 3.0, 3.0, 2.0, 2.0],
 [9.0, 3.0, 4.0, 3.0, 3.0, 2.0, 2.0],
 [3.0, 5.0, 4.0, 3.0, 6.0, 3.0, 8.0],
 [3.0, 4.0, 4.0, 6.0, 3.0, 4.0, 4.0],
 [3.0, 7.0, 4.0, 8.0, 3.0, 8.0, 4.0],
 [6.0, 3.0, 5.0, 9.0, 2.0, 7.0, 9.0]]

In [139]:
employees = dict()
for i, hours in enumerate(weekly_hours):
    employees[i] = sum(hours)

In [140]:
employees

{0: 34.0, 1: 28.0, 2: 20.0, 3: 26.0, 4: 32.0, 5: 28.0, 6: 37.0, 7: 41.0}

In [144]:
sorted_hours = dict(reversed(sorted(employees.items(), key=lambda item: item[0])))

In [145]:
sorted_hours

{7: 41.0, 6: 37.0, 5: 28.0, 4: 32.0, 3: 26.0, 2: 20.0, 1: 28.0, 0: 34.0}

In [149]:
for employee in sorted_hours:
    print(f"Employee {employee} worked {employees[employee]} hours")

Employee 7 worked 41.0 hours
Employee 6 worked 37.0 hours
Employee 5 worked 28.0 hours
Employee 4 worked 32.0 hours
Employee 3 worked 26.0 hours
Employee 2 worked 20.0 hours
Employee 1 worked 28.0 hours
Employee 0 worked 34.0 hours